<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.multi0819.roadride">
 <uses-permission android:name="android.permission.INTERNET" />
 <application android:label="로드라이드" android:icon="@drawable/ic_roadride" android:allowBackup="false" android:usesCleartextTraffic="false" android:theme="@android:style/Theme.Material.NoActionBar" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait">
   <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
  </activity>
 </application>
</manifest>
